.one_contact {
    float: left;
}

.contact_list {
    float: right;
}

div {
    width: 350px;

    h3 {
        font-size: 105%;
        padding: 15px 0px;
        text-transform: uppercase;
    }
}