@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');
@import 'vars';
@import 'mixins';

body {
    font-family: 'Montserrat', sans-serif;

    app-root {
        
        > i {
            @include transform(-50%, -50%);
            color: $main_color;
            font-size: 340%;
            width: auto;
            position: absolute;
            top: 47%;
            left: 47%;
        }
    }
}

@import 'mobile';