form {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding: 6px 0px 0px 0px;

    .form_group {

        label {
            width: 100px;
            display: inline-block;
            text-align: right;
            font-weight: bold;
            padding: 5px 5px;
        }

        input {
            padding: 7px 7px;
            margin-bottom: 15px;
            border-radius: 3px;
            border: 1px solid silver;
            box-sizing: border-box;

            &.ng-dirty {

                &.ng-invalid {
                    border: 1px solid rgb(175, 28, 28);
                } 
            }  
        }
    }

    button {
        font-size: 95%;
        padding: 8px 12px;
        border: none;
        border-radius: 3px;
        background-color: #2f7ab9;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: #14466e;
        }
    }
}