.contact_item {

    .full_name_item {
        font-size: 110%;
        text-align: left;
        padding: 10px 30px 10px 30px;

        .control {
            float: right;
            position: relative;
            top: -3px;
            display: inline-block;
            height: 25px;

            img {
                height: 25px;
                margin: 0px 3px;
    
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
}